.shops-container{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 2em;
}
.shops-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
}
.shops-table-container{
    height: 80vh;
    overflow: auto;
}
.shops-table{
    width:80vw;
    height: 50vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.shops-table table{
    border: none;
}
.shops-table th{
    background-color: #4979D1;
    color: white;
}
.shops-table th, td {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.shops-table tr:hover{
    background-color: rgb(227, 227, 227);
}
.deleteStore{
    color: red;
}
