.shops-container{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 2em;
}
.shops-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   
    
}
.shops-table-container{
    height: 80vh;
    overflow: auto;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(87, 101, 195, 0.2) 0px 5px 18px 0px;
}
.shops-table{
    width:80vw;
    height: 50vh;
    padding-top: 30px;
    padding-bottom: 30px;
}
.shops-table table{
    border: none;
}
.shops-table th{
    background-color: #4979D1;
    color: white;
}
.shops-table th, td {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.shops-table tr:hover{
    background-color: rgb(227, 227, 227);
}
.deleteStore{
    color: red;
}
