.salesRepAdd-container{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 1.5em;
}
.salesRepAdd-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}
.salesRepAdd-form-container{
    display: flex;
    gap: 30px;
    overflow: auto;
    padding: 10px;
}
.salesRepAdd-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.field-combined{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.salesRepAddBtn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}