.sales-container{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 2em;
}
.tab-cards{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.tab{
    padding: 10px;
    color: #4979D1;
    cursor: pointer;
}
.tab-content{
    display: none;
    height: 300px;
    width: 100%;
    background-color: whitesmoke;

}
.tabContentActive{
    display: flex;
    }
.activeTab{    
    /* border-bottom: 2px solid #4979D1; */
    border-radius: 8px;
    box-shadow: rgba(30, 30, 117, 0.2) 0px 7px 20px 0px;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.sales-table{
    width:80vw;
    height: 50vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sales-table table{
    border: none;
}
.sales-table th{
    background-color: #4979D1;
    color: white;
}
.sales-table th, td {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.sales-table tr:hover{
    background-color: rgb(227, 227, 227);
}
