.delivery-container{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 2em;
}
.delivery-table-container{
    height: 80vh;
    overflow: auto;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(87, 101, 195, 0.2) 0px 5px 18px 0px;
}
.delivery-table{
    width:80vw;
    height: 50vh;
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.delivery-table table{
    border: none;
}
.delivery-table th{
    background-color: #4979D1;
    color: white;
}
.delivery-table th, td {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.delivery-table tr:hover{
    background-color: rgb(227, 227, 227);
}
